[Unit]
Description=Project Pal Frontend application
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/yarn serve --host 0.0.0.0 --port 80
ExecStop=/usr/bin/kill -9 $(/usr/bin/lsof -t -i:80)
WorkingDirectory=/opt/pal/src-front-end

EnvironmentFile=/etc/environment

KillMode=process
Restart=always

User=root
Group=root

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target